RewriteEngine On 
#accept loading of actual files and directories
RewriteCode %{REQUEST_FILENAME} !-f
RewriteCode %{REQUEST_FILENAME} !-d

#send everything else to the index page
RewriteRule ^(.*)$ index.php?url=$1 [L,SQA]